extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura


block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sollicitudin, metus vitae volutpat dignissim, lacus elit venenatis enim, nec imperdiet justo ante eu purus. Nunc fermentum velit non lacus porta.
                p Vivamus nec lorem finibus, rhoncus erat eget, blandit sapien. Praesent quis tortor non ipsum luctus pretium. Nunc suscipit eleifend elit, id fringilla nisi accumsan vel.

            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Imagen Nosotros", class="img-fluid")
        
        include ./layout/bloques_viajes

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD
    .container
        h2.text-center.mt-5 Testimoniales
        include ./layout/bloques_testimoniales