extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas leo eget nisl tempor, sed placerat justo aliquam. Donec sed ultrices massa. Nulla non euismod lorem. Morbi a sem in nibh posuere condimentum. In tristique risus nec mi tincidunt luctus. Quisque sed consectetur risus. Phasellus molestie varius lacus, vel auctor enim venenatis sed. Donec venenatis est vel felis maximus, eget accumsan enim tincidunt. Sed quis leo sit amet mauris ultrices aliquet. Aliquam consectetur nisi ac mi dapibus, quis blandit nisl gravida. Donec viverra iaculis mauris, tempus aliquet felis efficitur vel. Vestibulum non lectus erat. Morbi ligula ex, volutpat id porttitor non, bibendum sed lorem.

                p In libero orci, elementum id libero ut, posuere auctor ex. Fusce vitae bibendum sem. Suspendisse potenti. Fusce quis nibh molestie, molestie ex ut, finibus erat. Vivamus non purus et felis cursus ullamcorper eu malesuada metus. Vestibulum malesuada bibendum nisi vel sagittis. Donec urna nisl, vestibulum eu posuere a, semper vel massa. Cras luctus finibus nisi at euismod.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p In libero orci, elementum id libero ut, posuere auctor ex. Fusce vitae bibendum sem. Suspendisse potenti. 

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p In libero orci, elementum id libero ut, posuere auctor ex. Fusce vitae bibendum sem. Suspendisse potenti. 
                
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p In libero orci, elementum id libero ut, posuere auctor ex. Fusce vitae bibendum sem. Suspendisse potenti. 
